body,
input,
button
{
  color: #ddd;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #1D1F20;
}

#container {
  text-align: center;
  position: relative;
  margin: auto;
  margin-top: 30px;
  width: 80%;
  box-shadow: 0 0 0 2px #d4f852;
  background-color: rgba(255,255,255,0.3);
}

#controls {
  color: #FFF;
  position: relative;
  margin: auto;
  margin-top: 30px;
  padding: 2%;
  width: 76%;
  box-shadow: 0 0 0 2px #d4f852;
  z-index: 2;
  overflow: hidden;
}

#controls input,
#controls button
{
  display: inline-block;
  float: left;
  background-color: #000;
  border: none;
  margin: 6px;
  padding: 5px;
  box-shadow: 0 0 0 2px #555;
  outline: 0;
}

#controls input[type=text] {
  width: 162px;
}

#controls input[type=text].small {
  width: 70px;
}

#controls button {
  cursor: pointer;
  width: 80px;
}

#controls .clear {
  display: block;
  clear: both;
}

.templates {
  display: none;
}
















