body,
input,
button
{
  color: #ddd;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #1D1F20;
}

#container {
  text-align: center;
  position: relative;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  width: 80%;
  box-shadow: 0 0 0 2px #d4f852;
  background-color: rgba(255,255,255,0.3);
}

#controls {
  color: #FFF;
  position: relative;
  margin: auto;
  margin-top: 30px;
  padding: 2%;
  width: 76%;
  box-shadow: 0 0 0 2px #d4f852;
  z-index: 2;
  overflow: hidden;
}

#controls input,
#controls button
{
  display: inline-block;
  float: left;
  border: none;
  margin: 6px;
  padding: 5px;
  background-color: #000;
  border-radius: 5px;
  outline: 0;
  -webkit-display: none;
}

#controls input[type=text] {
  width: 162px;
  box-shadow: 0 0 0 1px #555;
}

#controls input[type=text].small {
  width: 70px;
}

#controls button {
  cursor: pointer;
  width: 80px;
  box-shadow: 0 0 0 1px rgba(212,248,82,0.3);
}

#controls button:hover,
#controls button:active {
  background-color: #111;
  box-shadow: 0 0 0 1px rgb(212,248,82);
}

#controls .clear {
  display: block;
  clear: both;
}

.templates {
  display: none;
}

.tile .controls {
  text-align: right;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  line-height: 1.25;
  display: none;
}

.tile:hover .controls {
  display: block;
}

.tile:hover .inner {
  opacity: 0.3;
}

.tile .controls a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.tile .controls a:hover {
  text-decoration: underline;
}



















